p {
  text-align: center;
  font-size: 10px;
}

img {
  border: 3px red;
}

body {
  background-color: green;
}

ul {
  color: brown;
  font-family: "Times New Roman";
}

h1 {
  width: 3px;
  height: 1000px;
  font-wieght: bold;
}
