nav {
  background-color: #004C54;
  font-size: 24px;
  font-family: "Copperplate", "Papyrus", fantasy;
  margin: 10;
}

.navlink {
  color: white;
  text-decoration: none;
}

.active {
  color: #046A38;
  text-decoration: none;
}

body {
  background-color: #057840;
  color: #8A8D8F;
}
