html{
background-color: #8A8D8F;
}

body{
  width: 90%;
  margin: auto;
}

nav {
  background-color: #004C54;
  font-size: 24px;
  font-family: "Copperplate", "Papyrus", fantasy;
  margin: 10;
  text-align: center;
}

.nav1 {
  display: inline;
  padding: 20px;
}

body {
  background-color: #057840;
  color: white;
}

.navlink {
  color: white;
  text-decoration: none;
  display: inline;
  padding: 3 0 3 0
}

.active {
  color: #046A38;
  text-decoration: none;
}
