nav {
  background-color: #004C54;
  font-size: 24px;
  font-family: "Copperplate", "Papyrus", fantasy;
}

.navlink {
  color: white;
  text-decoration: none;
}

.active {
  color: #046A38;
  text-decoration: none;
}
